{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" http-equiv="Content-Language" content="pt-br">
    <link rel="stylesheet" type="text/css" href="{% static 'xmlweb/styles.css' %}">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Starcom</title>
</head>
<body>

    <div class="titulo">
        <h1><u> XML Logístico</u></h1>
        <figure class="image">
            <img src="{% static 'xmlweb/logo.png' %}" alt="Starcom">
        </figure>
    </div>

    <!-- Criação do formulário para inserção dos dados do XML -->
    <div id="container">
        <div id="box">
            <form method="post" novalidate>
                {% csrf_token %}

                <!-- Configuração do alerta de validação dos campos -->  
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}
            
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
                
                <!-- Imprime os campos do formulário -->
                {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
            
                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}
            
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
            
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div id="rodape">
        <footer>
            <p>&reg; Desenvolvido por Frederico Magalhães - 2021</p>
        </footer>    
    </div>

</body>
</html>