{% load static %}

<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" http-equiv="Content-Language" content="pt-br">
    <link rel="stylesheet" type="text/css" href="{% static 'xmlweb/styles.css' %}">
    <title>Starcom</title>
</head>
<body>
    <div class="titulo">
        <h1><u> XML Logístico</u></h1>
        <figure class="image">
            <img src="{% static 'xmlweb/logo.png' %}" alt="Starcom">
        </figure>
    </div>
    <!-- Criação do formulário para inserção dos dados do XML -->
    <form id="form" action="#" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <div id="rodape">
        <footer>
            <p>&reg; Desenvolvido por Frederico Magalhães - 2021</p>
        </footer>    
    </div>
</body>
</html>